# Project exclude paths
/dc-admin/admin-api/target/
/dc-common/common-core/target/
/dc-common/common-mybatis/target/
/dc-common/common-redis/target/
/dc-common/common-web/target/
/dc-game/game-api/target/
/dc-ums/ums-api/target/
.idea