<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zumin.dc.dockerserve.mapper.ServeMapper">
  <resultMap id="BaseResultMap" type="com.zumin.dc.dockerserve.pojo.entity.ServeEntity">
    <!--@mbg.generated-->
    <!--@Table serve-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="share" jdbcType="TINYINT" property="share"/>
    <result column="serve_indicate" jdbcType="VARCHAR" property="serveIndicate"/>
    <result column="image_indicate" jdbcType="VARCHAR" property="imageIndicate"/>
    <result column="container_name" jdbcType="VARCHAR" property="containerName"/>
    <result column="environment" jdbcType="VARCHAR" property="environment"/>
    <result column="port" jdbcType="VARCHAR" property="port"/>
    <result column="volume" jdbcType="VARCHAR" property="volume"/>
    <result column="application_id" jdbcType="BIGINT" property="applicationId"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, description, `share`, serve_indicate, image_indicate, container_name,
    environment, port, volume, application_id, user_id
  </sql>

  <select id="selectByUserIdOrShareAndNameLike" resultMap="BaseResultMap">
    select *
    from serve
    where (user_id = #{userId} or share = true)
      and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
  </select>
</mapper>